<<<<<<< HEAD
// Base Style */
body {
  background-color: $white;
}

// img
// {
//   width: 100%;
// }
=======
>>>>>>> 1e5509779e9d1313ab240a6738b7535fe6351264
/* Base Styles*/
body {
  height: 100vh;
  background-color: $white;
<<<<<<< HEAD
=======
  
>>>>>>> 1e5509779e9d1313ab240a6738b7535fe6351264
}
