<<<<<<< HEAD
// Color Scheme
// First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$lightgray: #D1D1D1;
// Second Color Scheme
$fuzzywuzzy: #E56353;
$rudypink: #D76C69;
$spanishpink: #ECBCBA;
//Third Color Scheme
$eerieblack: #121619;
$raisinblack: #222323;
$nickel: #6C6E70;

//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Open Sans', sans-serif;

$playfair: 'Roboto', sans-serif;
$roboto: 'Playfair Display', serif;

// Tipography
// Font Weight
$light: 300;
$regular: 400;
$bold: 900;

=======
>>>>>>> 1e5509779e9d1313ab240a6738b7535fe6351264
//color scheme
//First
$white: #FFF;
$platinum: #E6E7E7;
$lightgray: #D1D1D1;
//Second
$fuzzywyzzy: #E56353;
$ruddypink: #D76C69;
$spanishpink: #ECBCBA;
//Third
$eerieblack:#121619;
$raisinblack:#222323;
$nickel:#6C6E70;

//FontFamily
$playfair: 'Playfair Display', 'serif';
$roboto: 'Roboto', 'sans-serif';
$open-sans: 'Open Sans', 'sans-serif';

//Tipography
//Font weight
$light: 300;
$regular: 400;
$bold: 900;
$italic: 700;

<<<<<<< HEAD
=======

>>>>>>> 1e5509779e9d1313ab240a6738b7535fe6351264
// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
<<<<<<< HEAD
// Font style
$stylefont: italic;
=======
>>>>>>> 1e5509779e9d1313ab240a6738b7535fe6351264
