//color scheme
//First
$white: #FFF;
$platinum: #E6E7E7;
$lightgray: #D1D1D1;
//Second
$fuzzywyzzy: #E56353;
$ruddypink: #D76C69;
$spanishpink: #ECBCBA;
//Third
$eerieblack:#121619;
$raisinblack:#222323;
$nickel:#6C6E70;

//FontFamily
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;
$open-sans: 'Open Sans', sans-serif;


//Tipography
//Font weight
$light: 300;
$regular: 400;
$bold: 900i;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

