.navbar {
	background-color: $eerieblack;
    border-bottom: 1px solid darken($eerieblack, 20%);
}

.navbar-dark .navbar-nav  > .nav-link {
    background-color: $white;
}

.nav-link {
    &:hover {
        background-color: $fuzzywyzzy;
    }
}

.header {
  background-color: $eerieblack;
  
  &__logo {
    height: auto;
    margin: 0 0 0 70px;
    width: 100px;
  }
}


